$black: black;
$white: white;
$red: red;
$blue: blue;
$grey: grey;
$blueviolet: blueviolet;
$cadetblue: cadetblue;
$crimson: crimson;
$color-type-1: #FDEFAA;
$color-type-2: #F7C331;
$color-type-3: #001646;
$color-type-4: #00944e;
$color-type-5: #544641;
$color-type-6: #c59d6c;
$color-type-7: #9e035c;
$color-type-8: #ed1e79;

.bg-color-black {background-color: $black !important;}
.bg-color-red {background-color: $red !important;}
.bg-color-blue {background-color: $blue !important;}
.bg-color-grey {background-color: $grey !important;}
.bg-color-blueviolet {background-color: $blueviolet !important;}
.bg-color-cadetblue {background-color: $cadetblue !important;}
.bg-color-crimson {background-color: $crimson !important;}
.bg-color-type-2 {background-color: $color-type-2 !important;}
.bg-color-type-3 {background-color: $color-type-3 !important;}
.bg-color-type-4 {background-color: $color-type-4 !important;}
.bg-color-type-5 {background-color: $color-type-5 !important;}
.bg-color-type-6 {background-color: $color-type-6 !important;}
.bg-color-type-7 {background-color: $color-type-7 !important;}
.bg-color-type-8 {background-color: $color-type-8 !important;}

@font-face {
    font-family: 'Mont-Regular';
    src: url('../fonts/Montserrat-Regular.eot'), /* IE9 Compat Modes */
         url('../fonts/Montserrat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'Mont-Medium';
    src: url('../fonts/Montserrat-Medium.eot'), /* IE9 Compat Modes */
         url('../fonts/Montserrat-Medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Montserrat-Medium.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Montserrat-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'Mont-Bold';
    src: url('../fonts/Montserrat-Bold.eot'), /* IE9 Compat Modes */
         url('../fonts/Montserrat-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Montserrat-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Montserrat-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'Mont-Black';
    src: url('../fonts/Montserrat-Black.eot'), /* IE9 Compat Modes */
         url('../fonts/Montserrat-Black.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Montserrat-Black.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Montserrat-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

h1 {
    font-size: 16px;
    font-family: 'Mont-Bold';
    padding: 1rem 2rem; margin: 0;
    border: 1px solid rgba($color: $black, $alpha: .4);
    text-align: center;
    border-radius: 4px;
}

h2 {
    font-size: 16px;
    font-family: 'Mont-Bold';
    padding: 0; margin: 0;
}

html, body, main {
    width: 100%; height: 100%;
    box-sizing: border-box;
    font-size: 14px;
    color: $black;
}

.step {
    width: 100%; max-width: 40px; height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: none;
    position: relative;
    transition: all .3s ease-out;
    &:first-child {
        .atrium {
            border-left-color: unset !important;
        }
    }
    &:last-child {
        &.active {
            border-right: 1px solid $black;
        }
    }
    &.active {
        width: 100%;
        max-width: 992px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        .atrium {
            background-color: $white;
            color: $black;
            border-left-color: transparent;
            &::after {
                background-image: url(../images/icons/minus-icon.svg);
            }
            span {
                color: $black;
            }
        }
    }
    &.passive {
        width: 40px;
        padding-right: 40px;
        display: block;
        overflow: hidden;
        .atrium {
            border-right-color: $white;
        }
    }
    &:last-child {
        box-shadow: none;
    }
    &.d-block {
        // box-shadow: 10px 0 11px -10px rgba($color: $black, $alpha: .2);
        border-right: 1px solid rgba($color: $black, $alpha: .2);
    }
    .atrium {
        width: 40px; height: 100%;
        padding: 6px 12px;
        color: white;
        background-color: $black;
        transform-origin: center center;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid $black;
        position: relative;
        transition: all .3s ease-out;
        &::after {
            content: "";
            position: absolute;
            left: 50%; top: 20px;
            transform: translateX(-50%);
            width: 20px; height: 20px;
            background-image: url(../images/icons/plus-icon.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        span {
            min-width: 200px;
            font-family: "Mont-Medium";
            font-size: 14px;
            color: $white;
            transform: rotate(-90deg);
            transform-origin: center center;
            transition: all .3s ease-out;
        }
    }
}

.step-content {
    width: 100%;
    transition: all .3s ease-out;
    h2 {
        transition: all .3s ease-out;
    }
    .icons {
        a {
            display: block;
            width: 100%; max-width: 23px;
        }
    }
}

.directionButtons {
    position: fixed;
    right: 20px; bottom: 20px;
}

.nextStep {
    background-color: $color-type-2;
    border-color: $color-type-2;
    box-shadow: none !important;
    outline: none !important;
    padding: 1rem 2rem;
    &:hover, &:active, &:focus {
        background-color: rgba($color: $color-type-2, $alpha: .8);
        border-color: rgba($color: $color-type-2, $alpha: .8);
    } 
}

.samplesFromTheStore, .orderAndPayment {
    transform: translateX(100%);
    opacity: 0;
    display: none;
}

.btn-success {
    font-family: "Mont-Medium";
    font-size: 12px;
    box-shadow: none !important;
    outline: none !important;
}

.category-image {
    width: 100%; height: 70px;
    display: inline-block;
    border: 1px solid rgba($color: $black, $alpha: .4);
    transition: all .3s ease-out;
    cursor: pointer;
    border-radius: 4px;
    &:hover, &.active {
        box-shadow: 0px 0px 10px rgba($color: $black, $alpha: .4);
    }
    span {
        font-size: 12px;
        font-family: "Mont-Bold";
    }
}

.collection-title {
    cursor: pointer;
    transition: all .3s ease-out;
    padding: 10px;
    width: 100%; height: auto;
    border-radius: 4px;
    border: 1px solid rgba($color: $black, $alpha: .4);
    &:hover, &.active {
        box-shadow: 0px 0px 10px rgba($color: $black, $alpha: .4);
        h2 {
            color: $white;
            padding-left: 6px;
        }
    }
}

.slick-arrow {
    border: none;
    box-shadow: none;
    background-color: transparent;
    font-family: "Mont-Regular";
    font-size: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none !important;
    box-shadow: none !important;
    img {
        width: 100%; max-width: 12px;
    }
}

.slick-next, .slick-prev {
    position: absolute;
}

.slick-next {
    right: -24px;
}

.slick-prev {
    left: -24px;
}

.newCatetoryImages {
    width: auto;
    padding: 1rem 2rem;
    font-family: "Mont-Medium";
    font-size: 12px;
    color: $black;
    border-radius: 6px;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    transition: all .3s ease-out;
    margin: 0 4px;
    margin-bottom: 12px;
    span {
        font-size: 10px;
        display: block;
    }
    &:hover, &.active {
        background-color: rgba($color: $color-type-2, $alpha: .8);
    }
}

.sliderSafe {
    width: 100%;
    margin: auto;
}

.bulb {
    width: 100%; max-width: 20px;
    display: block;
    position: fixed;
    left: 20px; bottom: 20px;
    cursor: pointer;
    &.active {
        .bulb-message {
            visibility: visible;
            opacity: 1;
        }
    }
    i {
        width: 100%; max-width: 20px;
        display: block;
    }
    &-message {
        width: 200px;
        position: absolute;
        left: 30px; bottom: 0;
        background-color: $black;
        font-family: "Mont-Medium";
        font-size: 12px;
        color: $color-type-2;
        transition: all .3s ease-out;
        opacity: 0;
        visibility: hidden;
        padding: 12px;
        border-radius: 4px;
        font-style: normal;
        p {
            padding: 0; margin: 0;
        }
    }
}

label {
    span {
        font-family: "Mont-Bold";
        font-size: 12px;
        color: $black;
    }
}
select, input, textarea {
    &:focus, &:active {
        outline: none !important;
        box-shadow: none !important;
        border-color: #ced4da !important;
    }
}

.input-group {
    flex-wrap: nowrap !important;
    span {
        font-family: "Mont-Bold";
        font-size: 12px;
        color: $black;
    }
}

textarea.form-control {
    min-height: calc(1.5em + 6rem + 2px);
}

.package-box {
    width: 100%; max-width: 300px; height: 150px;
    overflow: hidden;
}

#frameAndSurFace {
    span {
        font-family: "Mont-Medium";
        font-size: 12px;
        color: $black;
    }
}

.frameAndSurFace_package-box {
    width: 100%; max-width: 100px; height: auto;
    overflow: hidden;
}

.shopping-bag {
    border: 1px solid rgba($color: $black, $alpha: .4);
    border-radius: 4px;
    p {
        font-family: "Mont-Bold";
        font-size: 18px;
        color: $black;
        margin: 0;
    }
    span {
        font-family: "Mont-Regular";
        font-size: 16px;
    }
    i {
        width: 100%; max-width: 20px;
        display: block;
    }
}

.fabric-box {
    width: 100%; height: auto;
    border: 1px solid rgba($color: $black, $alpha: .4);
    border-radius: 4px;
    background-color: $white;
    transition: all .3s ease-out;
    padding: 1rem;
    cursor: pointer;
    .colorPalette {
        width: 100%; max-width: 80px; height: 80px;
        border-radius: 50%;
    }
    &:hover, &.active {
        box-shadow: 0px 0px 10px rgba($color: $black, $alpha: .4);
    }
}

.package-content {
    border-radius: 4px;
}

.packagePrice {
    border: 1px solid rgba($color: $black, $alpha: .4);
    border-radius: 4px;
    p {
        font-family: "Mont-Bold";
        font-size: 18px;
        color: $black;
        margin: 0;
    }
    span {
        font-family: "Mont-Regular";
        font-size: 16px;
        color: $black;
    }
}

.packagePreview {
    width: 100%; max-width: 300px;
    margin: auto;
    img {
        border: 1px solid rgba($color: $black, $alpha: .4);
        border-radius: 4px;
    }
    span {
        font-family: "Mont-Bold";
        font-size: 20px;
        color: $black;
    }
}

.scrollY {
    height: 100%; overflow-y: auto;
}

.maxWidth-100 {
    max-width: 100%;
}

.workingDetailWorkSafe {
    width: 100%; height: auto;
    padding: 1rem;
    border: 1px solid rgba($color: $black, $alpha: .4);
    border-radius: 4px;
    label {
        font-family: "Mont-Medium";
        font-size: 16px;
        color: $black;
    }
}

.youWorkControl {
    width: 100%; height: auto;
    border: 1px solid rgba($color: $black, $alpha: .4);
    border-radius: 4px;
    padding: 1rem;
    display: none;
    &.active {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    label {
        p {
            font-family: "Mont-Medium";
            font-size: 14px;
            color: $black;
            margin: 0; padding: 0;
            margin-bottom: -6px;
        }
        span {
            font-family: "Mont-Regular";
            font-size: 10px;
            color: $red;
            margin: 0; padding: 0;
        }
    }
}

.workingDetailSelectSafe {
    span {
        margin-left: 12px;
        font-family: "Mont-Regular";
        font-size: 12px;
        color: $red;
    }
}

.boxTitle {
    width: 100%; height: auto;
    box-sizing: border-box;
    padding: 1rem;
    font-family: "Mont-Bold";
    font-size: 20px;
    text-align: center;
}

.boxRadioSafe {
    text-align: center;
    padding: 0;
    label {
        .boxRadioTitle {
            font-family: "Mont-Medium";
            font-size: 16px;
            color: $black;
            display: block;
        }
        .boxRadioPrice {
            font-family: "Mont-Medium";
            font-size: 12px;
            color: $red;
            display: block;
        }
        .boxRadioImg {
            width: 100%; height: auto;
            border: 1px solid rgba($color: $black, $alpha: .4);
            border-radius: 4px;
        }
    }
}

.extraRadioSafe {
    margin-top: -40px;
}

.boxRadioSafe {
    .boxRadioTitle {
        font-family: "Mont-Regular" !important;
        font-size: 14px !important;
        color: $black !important;
    }
    .boxRadioPrice {
        font-family: "Mont-Regular" !important;
        font-size: 12px !important;
        color: rgba($color: $black, $alpha: .7) !important;
    }
}