.bg-color-black {
  background-color: black !important;
}

.bg-color-red {
  background-color: red !important;
}

.bg-color-blue {
  background-color: blue !important;
}

.bg-color-grey {
  background-color: grey !important;
}

.bg-color-blueviolet {
  background-color: blueviolet !important;
}

.bg-color-cadetblue {
  background-color: cadetblue !important;
}

.bg-color-crimson {
  background-color: crimson !important;
}

.bg-color-type-2 {
  background-color: #F7C331 !important;
}

.bg-color-type-3 {
  background-color: #001646 !important;
}

.bg-color-type-4 {
  background-color: #00944e !important;
}

.bg-color-type-5 {
  background-color: #544641 !important;
}

.bg-color-type-6 {
  background-color: #c59d6c !important;
}

.bg-color-type-7 {
  background-color: #9e035c !important;
}

.bg-color-type-8 {
  background-color: #ed1e79 !important;
}

@font-face {
  font-family: 'Mont-Regular';
  src: url("../fonts/Montserrat-Regular.eot"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Mont-Medium';
  src: url("../fonts/Montserrat-Medium.eot"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Mont-Bold';
  src: url("../fonts/Montserrat-Bold.eot"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Mont-Black';
  src: url("../fonts/Montserrat-Black.eot"), url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.ttf") format("truetype");
}

h1 {
  font-size: 16px;
  font-family: 'Mont-Bold';
  padding: 1rem 2rem;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
  border-radius: 4px;
}

h2 {
  font-size: 16px;
  font-family: 'Mont-Bold';
  padding: 0;
  margin: 0;
}

html, body, main {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  color: black;
}

.step {
  width: 100%;
  max-width: 40px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  display: none;
  position: relative;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.step:first-child .atrium {
  border-left-color: unset !important;
}

.step:last-child.active {
  border-right: 1px solid black;
}

.step.active {
  width: 100%;
  max-width: 992px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.step.active .atrium {
  background-color: white;
  color: black;
  border-left-color: transparent;
}

.step.active .atrium::after {
  background-image: url(../images/icons/minus-icon.svg);
}

.step.active .atrium span {
  color: black;
}

.step.passive {
  width: 40px;
  padding-right: 40px;
  display: block;
  overflow: hidden;
}

.step.passive .atrium {
  border-right-color: white;
}

.step:last-child {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.step.d-block {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.step .atrium {
  width: 40px;
  height: 100%;
  padding: 6px 12px;
  color: white;
  background-color: black;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 1px solid black;
  position: relative;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.step .atrium::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-image: url(../images/icons/plus-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.step .atrium span {
  min-width: 200px;
  font-family: "Mont-Medium";
  font-size: 14px;
  color: white;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.step-content {
  width: 100%;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.step-content h2 {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.step-content .icons a {
  display: block;
  width: 100%;
  max-width: 23px;
}

.directionButtons {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.nextStep {
  background-color: #F7C331;
  border-color: #F7C331;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  padding: 1rem 2rem;
}

.nextStep:hover, .nextStep:active, .nextStep:focus {
  background-color: rgba(247, 195, 49, 0.8);
  border-color: rgba(247, 195, 49, 0.8);
}

.samplesFromTheStore, .orderAndPayment {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  display: none;
}

.btn-success {
  font-family: "Mont-Medium";
  font-size: 12px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

.category-image {
  width: 100%;
  height: 70px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  cursor: pointer;
  border-radius: 4px;
}

.category-image:hover, .category-image.active {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.category-image span {
  font-size: 12px;
  font-family: "Mont-Bold";
}

.collection-title {
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  padding: 10px;
  width: 100%;
  height: auto;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.collection-title:hover, .collection-title.active {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.collection-title:hover h2, .collection-title.active h2 {
  color: white;
  padding-left: 6px;
}

.slick-arrow {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  font-family: "Mont-Regular";
  font-size: 14px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  outline: none !important;
  box-shadow: none !important;
}

.slick-arrow img {
  width: 100%;
  max-width: 12px;
}

.slick-next, .slick-prev {
  position: absolute;
}

.slick-next {
  right: -24px;
}

.slick-prev {
  left: -24px;
}

.newCatetoryImages {
  width: auto;
  padding: 1rem 2rem;
  font-family: "Mont-Medium";
  font-size: 12px;
  color: black;
  border-radius: 6px;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  margin: 0 4px;
  margin-bottom: 12px;
}

.newCatetoryImages span {
  font-size: 10px;
  display: block;
}

.newCatetoryImages:hover, .newCatetoryImages.active {
  background-color: rgba(247, 195, 49, 0.8);
}

.sliderSafe {
  width: 100%;
  margin: auto;
}

.bulb {
  width: 100%;
  max-width: 20px;
  display: block;
  position: fixed;
  left: 20px;
  bottom: 20px;
  cursor: pointer;
}

.bulb.active .bulb-message {
  visibility: visible;
  opacity: 1;
}

.bulb i {
  width: 100%;
  max-width: 20px;
  display: block;
}

.bulb-message {
  width: 200px;
  position: absolute;
  left: 30px;
  bottom: 0;
  background-color: black;
  font-family: "Mont-Medium";
  font-size: 12px;
  color: #F7C331;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  opacity: 0;
  visibility: hidden;
  padding: 12px;
  border-radius: 4px;
  font-style: normal;
}

.bulb-message p {
  padding: 0;
  margin: 0;
}

label span {
  font-family: "Mont-Bold";
  font-size: 12px;
  color: black;
}

select:focus, select:active, input:focus, input:active, textarea:focus, textarea:active {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: #ced4da !important;
}

.input-group {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.input-group span {
  font-family: "Mont-Bold";
  font-size: 12px;
  color: black;
}

textarea.form-control {
  min-height: calc(1.5em + 6rem + 2px);
}

.package-box {
  width: 100%;
  max-width: 300px;
  height: 150px;
  overflow: hidden;
}

#frameAndSurFace span {
  font-family: "Mont-Medium";
  font-size: 12px;
  color: black;
}

.frameAndSurFace_package-box {
  width: 100%;
  max-width: 100px;
  height: auto;
  overflow: hidden;
}

.shopping-bag {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.shopping-bag p {
  font-family: "Mont-Bold";
  font-size: 18px;
  color: black;
  margin: 0;
}

.shopping-bag span {
  font-family: "Mont-Regular";
  font-size: 16px;
}

.shopping-bag i {
  width: 100%;
  max-width: 20px;
  display: block;
}

.fabric-box {
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  background-color: white;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  padding: 1rem;
  cursor: pointer;
}

.fabric-box .colorPalette {
  width: 100%;
  max-width: 80px;
  height: 80px;
  border-radius: 50%;
}

.fabric-box:hover, .fabric-box.active {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.package-content {
  border-radius: 4px;
}

.packagePrice {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.packagePrice p {
  font-family: "Mont-Bold";
  font-size: 18px;
  color: black;
  margin: 0;
}

.packagePrice span {
  font-family: "Mont-Regular";
  font-size: 16px;
  color: black;
}

.packagePreview {
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.packagePreview img {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.packagePreview span {
  font-family: "Mont-Bold";
  font-size: 20px;
  color: black;
}

.scrollY {
  height: 100%;
  overflow-y: auto;
}

.maxWidth-100 {
  max-width: 100%;
}

.workingDetailWorkSafe {
  width: 100%;
  height: auto;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.workingDetailWorkSafe label {
  font-family: "Mont-Medium";
  font-size: 16px;
  color: black;
}

.youWorkControl {
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 1rem;
  display: none;
}

.youWorkControl.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.youWorkControl label p {
  font-family: "Mont-Medium";
  font-size: 14px;
  color: black;
  margin: 0;
  padding: 0;
  margin-bottom: -6px;
}

.youWorkControl label span {
  font-family: "Mont-Regular";
  font-size: 10px;
  color: red;
  margin: 0;
  padding: 0;
}

.workingDetailSelectSafe span {
  margin-left: 12px;
  font-family: "Mont-Regular";
  font-size: 12px;
  color: red;
}

.boxTitle {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  font-family: "Mont-Bold";
  font-size: 20px;
  text-align: center;
}

.boxRadioSafe {
  text-align: center;
  padding: 0;
}

.boxRadioSafe label .boxRadioTitle {
  font-family: "Mont-Medium";
  font-size: 16px;
  color: black;
  display: block;
}

.boxRadioSafe label .boxRadioPrice {
  font-family: "Mont-Medium";
  font-size: 12px;
  color: red;
  display: block;
}

.boxRadioSafe label .boxRadioImg {
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.extraRadioSafe {
  margin-top: -40px;
}

.boxRadioSafe .boxRadioTitle {
  font-family: "Mont-Regular" !important;
  font-size: 14px !important;
  color: black !important;
}

.boxRadioSafe .boxRadioPrice {
  font-family: "Mont-Regular" !important;
  font-size: 12px !important;
  color: rgba(0, 0, 0, 0.7) !important;
}
/*# sourceMappingURL=style.css.map */